@fontePrincipal:System ui, sans-serif;

@fonteDeTitulo: 'Lobster', cursive;
@corDoTexto: #fff;
@corDeFundo:#eb3b5a;





body {
    background-color: @corDeFundo;
    font-family: @fontePrincipal;
    color: @corDoTexto;
}

h1 {
    font-family: @fonteDeTitulo;
    font-size: 3em;
}

main {
    max-width: 960px;
    width: 100; 
    margin: 0 auto ;
    font-size: 2em;
    text-align: center;
}

button {
    font-size: 1.3em;
    font-weight: bold;
    font-family: @fontePrincipal;
    padding: 16px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: darken(@corDoTexto, 2%);
    color: @corDeFundo;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten(@corDeFundo, -26%);
        color: lighten(@corDoTexto, 10%);
    }
}

input {
    display: block;
    font-size: 2em;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin: 20px auto 0;
    max-width: 240px;
    color: #000;
    border-bottom: 6px solid #fff;
    text-align: center;
}

.resultado {
    padding: 16px;
    margin-top: 120px;
    border: 8px dotted #fff;
    text-align: center;
    display: none;

    span {
        font-weight: bold;
        font-size: 3em;
        display: block;
        text-align: center;
    }
}